@{
    const string footerSectionClassName = "f6 pt1";
    const string linkDefaultClassName = "link dim black-80";
}

<div class="f5 lh-copy center">
    <h4>Pinned</h4>
    @{
        var pinnedPages = Outputs
        .FromPipeline("Content")
        .FilterSources(Document.GetString("PageSources"))
        .OrderBy(doc => doc.GetTitle())
        .ToList();
    }
    @foreach (IDocument doc in pinnedPages)
    {
        <div><a class="@linkDefaultClassName" href="@doc.GetLink()">@doc.GetTitle()</a></div>
    }

    <h4>Portfolio</h4>
    @{
        var portfolioPages = Outputs
        .FromPipeline("Content")
        .FilterSources(Document.GetString("PortfolioSources"))
        .OrderBy(doc => doc.GetTitle())
        .ToList();
    }
    @foreach (IDocument doc in portfolioPages)
    {
        <div><a class="@linkDefaultClassName" href="@doc.GetLink()">@doc.GetTitle()</a></div>
    }

    <h4>Topics</h4>
    @{
        var postTags = Outputs
        .FromPipeline("Content")
        .FilterSources(Document.GetString("PostSources"))
        .Select(doc => doc.GetList<string>("tags") ?? new List<string>())
        .SelectMany(x => x) // flatten list-of-lists
        .Distinct()
        .OrderBy(x => x)
        .ToList();
    }
    <div>
        @foreach (string tag in postTags)
        {
            <a class="@linkDefaultClassName pr2"
                href='@Context.GetLink($"/tags/posts/{Uri.EscapeDataString(tag)}")'>@tag</a>
        }
    </div>
    <div class="pt3">
        <a class="@linkDefaultClassName" href='@Context.GetLink("/posts/all")'>every damn thing</a>
    </div>

    <h4>Elsewhere</h4>
    <div>
        <span class="pr1 pr2-ns">
            <a class="link dim" href="mailto:robin@grumpycorp.com" rel="noopener noreferrer" target="_blank">
                <img class="w1 h1 v-base social-svg-gray" src='@Context.GetLink("/assets/icons/logo-gmail.svg")'
                    alt="Gmail logo" />
            </a>
        </span>

        <span class="pr1 pr2-ns">
            <a class="link dim" href="https://www.linkedin.com/in/robingiese" rel="noopener noreferrer" target="_blank">
                <img class="w1 h1 v-base social-svg-gray" src='@Context.GetLink("/assets/icons/logo-linkedin.svg")'
                    alt="LinkedIn logo" />
            </a>
        </span>

        <span class="pr1 pr2-ns">
            <a class="link dim" href="https://www.imdb.com/name/nm8515322/" rel="noopener noreferrer" target="_blank">
                <img class="w1 h1 v-base social-svg-gray" src='@Context.GetLink("/assets/icons/logo-imdb.svg")'
                    alt="IMDb logo" />
            </a>
        </span>

        <span class="pr1 pr2-ns">
            <a class="link dim" href="https://github.com/rgiese/" rel="noopener noreferrer" target="_blank">
                <img class="w1 h1 v-base social-svg-gray" src='@Context.GetLink("/assets/icons/logo-github.svg")'
                    alt="GitHub logo" />
            </a>
        </span>
    </div>

    <h4>Not a colophon</h4>

    <div class="@footerSectionClassName">
        @Document.GetString(WebKeys.Copyright).
    </div>

    <div class="@footerSectionClassName">
        Made with <img class="v-mid w1 h1" src='@Context.GetLink("/assets/icons/heart.svg")' alt="love" /> in Seattle.
    </div>

    <div class="@footerSectionClassName">
        Licensed under
        <a class="@linkDefaultClassName" href="http://creativecommons.org/licenses/by-sa/4.0/"
            rel="license">CC-BY-SA-4.0</a>.
    </div>

    <div class="@footerSectionClassName">
        Powered by <a class="@linkDefaultClassName" href="https://statiq.dev">Statiq</a>,
        <a class="@linkDefaultClassName" href="https://tachyons.io">Tachyions</a>, and
        <a class="@linkDefaultClassName" href="https://netlify.com">Netlify</a>.
    </div>

    <div class="@footerSectionClassName">
        <a class="@linkDefaultClassName" href='@Context.GetLink("/posts/code/improving-site-visitor-privacy/")'>
            Privacy notice.
        </a>
    </div>
</div>
